body{
    background-color: rgb(232, 219, 219);
}

h1{

    background-color: rgb(188, 202, 232);
    top: 120.31px;
    left: 699.49px;
}
header{
    text-align: center;
}
p.lift {
    float: lift ;
    background-color: rgb(247, 187, 187);
}
main{ text-align: center}
}
